<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDESgSW2JlW-GrujKAhL3haGlxriOTSKjE</string>
	<key>GCM_SENDER_ID</key>
	<string>1061239060390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-login-6137b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-6137b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061239060390:ios:51622c0d75ac790354c167</string>
</dict>
</plist>